@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    vertical-align: middle;
}
.container{
    max-width: 85%;
    margin: 0 auto;
}
.banner-container{
    width: 90%;
}
.orang-color{
    color: tomato;
}

/*============ COMMON CSS END ========= */


/*============ HEADER START ========= */
header{
    background-color: #0537a3;
    width: 100%;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.left-side h3{
    text-transform: capitalize;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}.nav-manu ul{
    display: flex;
}
.nav-manu ul li{
    margin: 0 10px;
}
.nav-bar{
    display: none;
    margin-right: 20px;
}
.nav-manu ul li a{
    color: #fff;
    font-size: 18px;
   text-transform: uppercase;
    padding: 10px 0;
}
.bar{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
.fs-24{
    font-size: 24px;
}
/*============ HEADER END ========= */



/*============ TOP SECTION START ========= */
.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 30px;
    margin: 50px 0;
    background-image: linear-gradient(rgb(226, 196, 191), rgb(233, 224, 207));
    border-radius: 10px;
}
.top-left h1{
    font-size: 52px;
    line-height: 70px;
    font-weight: 700;
}
.top-left p{
    font-size: 16px;
    font-weight: 60;
    margin: 20px 0;
}
.top-right .cemmara{
    display: flex;
    justify-content: center;
    background-image: url(../images/Circle\ design.svg) no-repeat center / cover;
}
.top-right .cemmara img{
    min-width: 300px;
}
.primary-btn{
    padding: 10px 20px;
    background-color: tomato;
    border-radius: 20px;
    color: #fff;
    outline: 0;
    border: 0;
    margin-top: 10px;
}
.primary-btn a{
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;

}

.animat{
    position: relative;
    color: #e2c4bf;
    -webkit-text-stroke: 0.3px #383d52;
}
.animat::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #001aff;
    -webkit-text-stroke: 0px #383d52;
    border-right: 2px solid #0400ff;
    overflow: hidden;
    animation: text-animet 6s linear infinite;
}

@keyframes text-animet{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 300px;
    }
}
/*============ TOP SECTION END ========= */



/*============ BRAND SECTION START ========= */
.brands{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    grid-gap: 30px;
    border-top: 1px solid #e2dede;
    border-bottom: 1px solid #e2dede;
}
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    cursor: pointer;
}
/*============ BRAND SECTION END ========= */



/*============ PRODUCT SECTION START ========= */
.products{
    display: grid;
    /* grid-template-columns: repeat(3, 320px); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    grid-gap: 40px;
    margin: 50px 0;
}
.calection-tittle{
    text-align: center;
    margin-top: 40px;
}
.product-item{
    padding: 10px;
    /* width: 320px; */
    /* background-color: #dceee3; */
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgb(100, 99, 99);
}
.product-img img{
    width: 100%;
    height: 250px;
}
.product-tittle{
    font-size: 28px;
    margin-top: 20px;
}
.product-price{
    font-size: 24px;
    margin: 10px 0;
}
.product-detail{
    font-size: 14px;
    margin: 10px 0;
}
.rate-number{
    margin-left: 10px;
}
.see-more{
    text-align: right;
    font-weight: 600;
    margin-bottom: 30px;
}
/*============ PRODUCT SECTION END ========= */



/*============ PRODUCT DETAILS START ========= */
.product-details{
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
.new-product{
    background-color: #ebe3e3;
    border-radius: 5px;
    padding: 20px;
}
.new-product img{
    width: 100%;
    height: 300px;
}
.new-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-content: space-between;
    margin-top: 20px;
}
.item{
    background-color: #ebe3e3;
    border-radius: 5px;
    padding: 10px;
}
.item img{
    width: 100%;
}
.product-information h1{
    font-size: 30px;
    margin: 30px 0;
}
.product-information h3{
    font-size: 30px;
    margin: 30px 0;
}
.price{
    font-size: 24px;
}
.size{
    padding: 10px 20px;
    border: 1px solid #000;
    margin: 10px 0;
    width: 160px;
}
.size1{
    padding: 10px 20px;
    border: 1px solid #000;
}
.add-btn{
    border-radius: 0px;
    width: 16px 20px;
    background: #fff;
    border: 1px solid tomato;
    color: rgb(252, 249, 249);
    margin-left: 10px;
    cursor: pointer;
}
.add-btn{
    background-color: tomato;
}
/*============ PRODUCT DETAILS END ========= */



/*============ FOOTER SECTION START ========= */
footer{
    background-color: rgb(37, 37, 37);
    width: 100%;
    padding: 50px 0;
}
.footer-content{
    text-align: center;
    color: #fff;
}
.footer-tittle{
    font-size: 24px;
    line-height: 40px;
}
.footer-content p{
    font-size: 14px;
    line-height: 26px;
}
.social-menu{
    margin-top: 20px;
}
.social-menu a{
   color: #fff;
   display: inline-block;
   font-size: 28px;
   margin: 0 10px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background: #1c1c25;
   padding: 5px;
}
/*============ FOOTER SECTION END ========= */


/*============ RESPONSIVE MEDIA START ========= */

@media screen and (min-width: 1300px) {
    .container{
        width: 1280px;
    }
    .banner-container{
        width: 1280px;
    }
    .products{
        grid-template-columns: repeat(3, 350px);
    }
}
@media screen and (max-width: 886px) {
    .content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .top-left{
        order: 2;
        text-align: center;
    }
    .animat{
        text-align: left;
        margin-left: 30px;
    }
    .nav-manu{
        display: none;
    }
    .nav-bar{
        display: block;
    }
    .product-details{
        grid-template-columns: repeat(1, 1fr);
        box-sizing: border-box;
    }
  }

  @media screen and (max-width: 480px) {
    .top-right .cemmara img{
        width: 200px;
    }
  }
/*============ RESPONSIVE MEDIA END ========= */